.custom-nav{
  background-color: black !important;
}
.custom-nav .nav-link{
  color: #f3f3f3;

}
header{
  background-color: rgb(252, 109, 37);
}
header span{
  color: #f2f1f1;
}
.hikmat{
  color: rgb(0, 0, 0);
}
.arousel-item img{
  height: 500px;
  object-fit: cover;
}
.card img{
  height: 250px;
  object-fit: contain;
}
